.c-form{
    margin-bottom: 20px;

    input, textarea{
        padding: 10px;
        margin-right: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $black;
        color: $white;

        &:focus, &:active{
            outline: 0;
            box-shadow: none;
            border-color: $light-accent;
        }
    }
}