.loader__wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
  animation: rotation 1s infinite linear;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top-color: rgba(255, 255, 255, 0.7);
  height: 40px;
  width: 40px;
  display: block;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

