.c-wrapper{
    strong {
        font-weight: lighter;
    }

    ul {
        padding: 0;
    }
}

.artist {

    &__inner {
        display: block;
        width: 100vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    figure {
        margin: 0;
        order: 2;

        img{
            width: 100%;
        }
    }



    &__detail {
        // display: none;
        // position: absolute;
        // top: 200px;
        // left: 0px;

        order: 1;
        width: 30vw;
        strong {
            display: block;
            font-weight: 700;
            font-size: 64px;
            line-height: 0.9em;
            text-transform: uppercase;
        }

        span {
            display: block;
        }

        .btn {
            margin-top: 15px;
        }
    }

    &__genre-list{
        li {
            display: inline-block;
            &:after {
                content: ',';
                margin-right: 5px;
            }

            &:last-child:after{
                content: '';
            }
        }
    }

}



