

.c-input {
    font-size: 14px;
    // margin-bottom: 10px;
    font-family: system-ui;
    display: inline-block;
    border: 0;
    letter-spacing: 0px;
    &--text {
        padding: 10px;
        border-radius: 5px;
    }

    &--select {
        color: #000;
    }

    &--date {
        color: #000;
    }
}

.react-datepicker__input-container{
    width: 100%;
}