@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
@import '_variables';
@import '_buttons';
@import '_input';
html, body {
    background-color: $base-bg;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 25px;
    a {
        color: $primary-color;
    }
}