@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');


@import '_vars.scss';

@import './layouts/concerts.scss';
@import './layouts/index.scss';


@import './components/buttons.scss';
@import './components/navigation.scss';
@import './components/form.scss';
@import './components/concerts.scss';
@import './components/loader.scss';
@import './components/modal.scss';
@import './components/createArtist.scss';
html,body{
    background-color: $black;
    color: $white;
    font-family: 'Source Sans Pro', sans-serif;


    a{
        color: $light-accent;
        &:hover{
            color: $medium-accent;
        }
    }
}



